Source: cafe-session-manager
Section: x11
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Standards-Version: 4.5.0
Rules-Requires-Root: no
Build-Depends: autoconf-archive,
               debhelper-compat (= 13),
               dpkg-dev (>= 1.16.1.1),
               intltool,
               libdbus-glib-1-dev,
               libglib2.0-dev,
               libctk-3-dev (>= 3.14),
               libice-dev,
               libsm-dev,
               libstartup-notification0-dev,
               libsystemd-dev [linux-any],
               libx11-dev,
               libxau-dev,
               libxext-dev,
               libxrender-dev,
               libxt-dev,
               libxtst-dev,
               libgles-dev [hurd-any kfreebsd-any],
               cafe-common (>= 1.18),
               xmlto,
               xsltproc,
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-session-manager
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-session-manager.git

Package: cafe-session-manager
Architecture: any
Depends: dbus-x11,
         cafe-desktop-common (>= 1.24),
         mint-cafe-default-settings | ubuntu-cafe-default-settings | debian-cafe-default-settings (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: baul,
            croma,
            cafe-panel,
            cafe-polkit,
            cafe-settings-daemon,
Breaks: cafe-settings-daemon (<< 1.11.0),
Provides: x-session-manager,
Description: Session manager of the CAFE desktop environment
 This package contains a session that can be started from a display
 manager such as MDM. It will load all necessary applications for a
 full-featured user session.
 .
 The session manager also features the ability to save a running session
 and restore it later.
 .
 This version is configured to start the CAFE desktop, based on the
 CAFE panel.

Package: debian-cafe-default-settings
Breaks: cafe-session-manager (<< 1.10.2-4~),
Architecture: all
Depends: desktop-file-utils,
         ${misc:Depends},
Suggests: cafe-desktop-environment-core (>= 1.10.0),
Conflicts: mint-cafe-default-settings,
           ubuntu-cafe-default-settings,
Description: Default settings for CAFE on Debian
 This package comes together with cafe-session-manager as provided by upstream
 but does a little tweaking here and there to provide best experience of the
 CAFE desktop environment on Debian systems.
