#!/usr/bin/make -f

DHFLAGS=--parallel

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ $(DHFLAGS) --without autoreconf

override_dh_install:
	# Ubuntu CAFE enables indicators by default which include indicator-sound
ifeq ($(shell dpkg-vendor --is Ubuntu && echo yes),yes)
	rm -f debian/tmp/etc/xdg/autostart/cafe-volume-control-status-icon.desktop
endif
	# upstream needs to rename their man page...
	mv debian/tmp/usr/share/man/man1/cafe-volume-control-applet.1 debian/tmp/usr/share/man/man1/cafe-volume-control-status-icon.1
	dh_install

override_dh_auto_configure:
	# upstream tarball is without configure. autogen.sh will create it
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure $(DHFLAGS) -- \
		--localstatedir=/var \
		--disable-silent-rules \
		--disable-static
