Source: croma
Section: x11
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Uploaders: Pablo Barciela <scow@riseup.net>
Build-Depends: autoconf-archive,
               debhelper-compat (=13),
               dpkg-dev (>= 1.16.1.1),
               intltool,
               libkanberra-ctk3-dev,
               libglib2.0-dev (>= 2.67.3),
               libctk-3-dev,
               libgtop2-dev,
               libice-dev,
               libpango1.0-dev,
               libsm-dev,
               libstartup-notification0-dev,
               libx11-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxdamage-dev,
               libxext-dev,
               libxfixes-dev,
               libxinerama-dev,
               libxpresent-dev,
               libxrandr-dev,
               libxrender-dev,
               libxt-dev,
               cafe-common (>= 1.18),
               x11proto-present-dev,
               yelp-tools,
               zenity,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/croma
Vcs-Git: https://salsa.debian.org/debian-cafe-team/croma.git

Package: croma
Architecture: any
Depends: libcroma-private2 (= ${binary:Version}),
         croma-common (= ${source:Version}),
         cafe-desktop-common (>= 1.24),
         zenity,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: cafe-window-manager (<= 1.0.0-2),
Provides: x-window-manager,
Description: lightweight CTK+ window manager for CAFE
 Croma is a small window manager, using CTK+ to do everything. It is
 developed mainly for the CAFE Desktop.
 .
 This package contains the croma window manager itself.

Package: croma-common
Architecture: all
Depends: ${misc:Depends},
Breaks: cafe-window-manager (<= 1.0.0-2),
Description: lightweight CTK+ window manager for CAFE (common files)
 Croma is a small window manager, using CTK+ to do everything. It is
 developed mainly for the CAFE Desktop.
 .
 This package contains the architecture independent files.

Package: libcroma-private2
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Breaks: libcroma,
        libcroma-private0,
        libcroma-private1,
        cafe-window-manager (<= 1.0.0-2),
Replaces: libcroma,
          libcroma-private0,
          libcroma-private1,
Description: library for Croma window manager
 Croma is a small window manager, using CTK+ to do everything. It is
 developed mainly for the CAFE Desktop.
 .
 This package contains the library.

Package: libcroma-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libcroma-private2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: cafe-window-manager (<= 1.0.0-2),
Description: library for Croma window manager (development files)
 Croma is a small window manager, using CTK+ to do everything. It is
 developed mainly for the CAFE Desktop.
 .
 This package contains the development files.
