#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --without autoreconf

execute_before_dh_install:
	rm -rfv debian/tmp/usr/lib/*/lapiz/plugins/*.la
	rm -rf debian/tmp/usr/lib/*/lapiz/plugins/*/*.pyc
	rm -rf debian/tmp/usr/lib/*/lapiz/plugins/*/*.pyo
	rm -rfv debian/tmp/usr/lib/*/lapiz/plugins/*/__pycache__/

override_dh_auto_configure:
	# upstream tarball is without configure. autogen.sh will create it
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure -- \
		--disable-silent-rules \
		--libexecdir=/usr/lib/ \
		--enable-gtk-doc

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_auto_test:
	DEB_BUILD_OPTIONS=nocheck dh_auto_test
