Source: ctk+3.0
Section: libs
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Build-Depends: advaita-icon-theme <!nocheck>,
               at-spi2-core <!nocheck>,
               dbus <!nocheck>,
               debhelper-compat (= 12),
               dh-sequence-gir,
               fonts-cantarell <!nocheck>,
               fonts-dejavu-core <!nocheck>,
               gir1.2-atk-1.0-dev <pkg.gobject-introspection.todo>,
               gir1.2-cairo-1.0-dev,
               gir1.2-gdkpixbuf-2.0-dev,
               gir1.2-gio-2.0-dev,
               gir1.2-pango-1.0-dev,
               gir1.2-xlib-2.0-dev,
               gnome-pkg-tools (>= 0.11),
               gobject-introspection (>= 1.41.3),
               gsettings-desktop-schemas <!nocheck>,
               gtk-doc-tools (>= 1.20),
               libatk-bridge2.0-dev (>= 2.15.1),
               libatk1.0-dev (>= 2.35.1),
               libcairo2-dev (>= 1.14.0),
               libcolord-dev (>= 0.1.9),
               libcups2-dev (>= 1.7),
               libegl1-mesa-dev [linux-any],
               libepoxy-dev (>= 1.4),
               libfontconfig-dev,
               libfribidi-dev (>= 0.19.7),
               libgdk-pixbuf-2.0-dev (>= 2.40.0),
               libglib2.0-dev (>= 2.66.8),
               libharfbuzz-dev (>= 0.9),
               libpango1.0-dev (>= 1.41.0),
               librsvg2-common <!nocheck>,
               libwayland-dev (>= 1.14.91) [linux-any],
               libx11-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxdamage-dev,
               libxext-dev,
               libxfixes-dev,
               libxi-dev,
               libxinerama-dev,
               libxkbcommon-dev (>= 0.2.0),
               libxkbfile-dev,
               libxml2-utils,
               libxrandr-dev (>= 2:1.5.0),
               pkgconf,
               sassc,
               wayland-protocols (>= 1.17) [linux-any],
               xauth <!nocheck>,
               xvfb <!nocheck>
Build-Depends-Indep: docbook-xml,
                     docbook-xsl,
                     libatk1.0-doc,
                     libcairo2-doc,
                     libglib2.0-doc,
                     libpango1.0-doc,
                     xsltproc
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/gnome-team/ctk3
Vcs-Git: https://salsa.debian.org/gnome-team/ctk3.git
Homepage: https://github.com/cafe-desktop/ctk

Package: libctk-3-0
Architecture: any
Multi-Arch: same
Depends: advaita-icon-theme,
         hicolor-icon-theme,
         shared-mime-info,
         ${misc:Depends},
         ${shlibs:Depends},
         libctk-3-common (>= ${source:Version})
Provides: ${ctk:BinVer}
Recommends: libctk-3-bin,
            librsvg2-common
Suggests: gvfs,
Description: CTK graphical user interface library
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the shared libraries.

Package: libctk-3-0-udeb
Build-Profiles: <!noudeb>
Package-Type: udeb
Section: debian-installer
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: ${ctk:BinVer}
Description: CTK graphical user interface library - minimal runtime
 This is a udeb, or a microdeb, for the debian-installer.
 .
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the minimal runtime library using X11 needed
 by the Debian installer.

Package: libctk-3-common
Section: misc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: libctk-3-0
Description: common files for the CTK graphical user interface library
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the common files which the libraries need.

Package: libctk-3-bin
Section: misc
Architecture: any
Multi-Arch: foreign
Depends: ctk-update-icon-cache,
         ${misc:Depends},
         ${shlibs:Depends},
         libctk-3-common (>= ${source:Version}),
         libctk-3-0 (>= ${source:Version})
Breaks: ctk-3-examples (<< 3.24.13)
Replaces: ctk-3-examples (<< 3.24.13)
Description: programs for the CTK graphical user interface library
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the utilities which are used by the libraries
 and other packages.

Package: libctk-3-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: gir1.2-ctk-3.0 (= ${binary:Version}),
         libatk-bridge2.0-dev (>= 2.15.1),
         libatk1.0-dev (>= 2.35.1),
         libcairo2-dev (>= 1.14.0),
         libegl1-mesa-dev [linux-any],
         libepoxy-dev (>= 1.0),
         libfontconfig-dev,
         libfribidi-dev (>= 0.19.7),
         libgdk-pixbuf-2.0-dev (>= 2.40.0),
         libglib2.0-dev (>= 2.66.8),
         libpango1.0-dev (>= 1.41),
         libwayland-dev (>= 1.9.91) [linux-any],
         libx11-dev,
         libxcomposite-dev,
         libxcursor-dev,
         libxdamage-dev,
         libxext-dev,
         libxfixes-dev,
         libxi-dev,
         libxinerama-dev,
         libxkbcommon-dev,
         libxrandr-dev,
         pkgconf,
         wayland-protocols (>= 1.17) [linux-any],
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         libctk-3-common,
         libctk-3-0 (= ${binary:Version})
Provides: gir1.2-cdk-3.0-dev (= ${binary:Version}),
          gir1.2-cdkx11-3.0-dev (= ${binary:Version}),
          ${gir:Provides}
Suggests: libctk-3-doc
Description: development files for the CTK library
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the header and development files which are
 needed for building CTK applications.

Package: libctk-3-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: libatk1.0-doc,
            libglib2.0-doc,
            libpango1.0-doc
Description: documentation for the CTK graphical user interface library
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the HTML documentation for the CTK library
 in /usr/share/doc/libctk-3-doc/ .

Package: ctk-3-examples
Section: x11
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libctk-3-0 (= ${binary:Version})
Description: example files for CTK 3
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the example files and a demonstration program
 for CTK3. It also contains the installed tests.

Package: gir1.2-ctk-3.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         libctk-3-common
Breaks: python-gi (<< 3.18),
        python3-gi (<< 3.18)
Provides: gir1.2-cdk-3.0 (= ${binary:Version}),
          gir1.2-cdkx11-3.0 (= ${binary:Version}),
          ${gir:Provides}
Description: CTK graphical user interface library -- gir bindings
 CTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, CTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.

Package: ctk-update-icon-cache
Section: misc
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Breaks: libctk-3-bin (<< 3.20.6-1),
        libctk2.0-bin (<< 2.24.30-2)
Replaces: libctk-3-bin (<< 3.20.6-1),
          libctk2.0-bin (<< 2.24.30-2)
Description: icon theme caching utility
 ctk-update-icon-cache creates mmap()able cache files for icon themes.
 .
 CTK can use the cache files created by ctk-update-icon-cache to avoid a lot
 of system call and disk seek overhead when the application starts. Since the
 format of the cache files allows them to be mmap()ed shared between multiple
 applications, the overall memory consumption is reduced as well.

Package: libcail-3-0
Architecture: any
Multi-Arch: same
Depends: at-spi2-core,
         ${misc:Depends},
         ${shlibs:Depends},
         libctk-3-0 (= ${binary:Version})
Description: GNOME Accessibility Implementation Library -- shared libraries
 Cail implements ATK interfaces for CTK widgets which are dynamically
 loadable at runtime by a CTK application. Once loaded, those parts of
 an application that use standard CTK widgets will have a basic level
 of accessibility, without the need to modify the application at all.
 .
 This package contains the shared library.

Package: libcail-3-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libatk1.0-dev,
         libcail-3-0 (= ${binary:Version}),
         pkgconf,
         ${misc:Depends},
         libctk-3-dev (= ${binary:Version})
Suggests: libcail-3-doc
Description: GNOME Accessibility Implementation Library -- development files
 Cail implements ATK interfaces for CTK widgets which are dynamically
 loadable at runtime by a CTK application. Once loaded, those parts of
 an application that use standard CTK widgets will have a basic level
 of accessibility, without the need to modify the application at all.
 .
 This package contains the development files for Cail.

Package: libcail-3-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Description: documentation files of the Cail library
 Cail implements ATK interfaces for CTK widgets which are dynamically
 loadable at runtime by a CTK application. Once loaded, those parts of
 an application that use standard CTK widgets will have a basic level
 of accessibility, without the need to modify the application at all.
 .
 This package contains the documentation files for Cail.
