Source: lector
Section: x11
Priority: optional
Maintainer: Debian+Ubuntu CAFE Packaging Team <debian-cafe@lists.debian.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
           John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
           Martin Wimpress <code@flexion.org>,
Build-Depends: debhelper-compat (=12),
               dpkg-dev (>= 1.16.1.1),
               gobject-introspection,
               intltool,
               libcaja-extension-dev (>= 1.18),
               libdjvulibre-dev,
               libgail-3-dev,
               libgirepository1.0-dev,
               libglib2.0-dev,
               libctk-3-dev,
               libgxps-dev (>= 0.2.0),
               libkpathsea-dev,
               libpoppler-glib-dev (>= 0.22.0),
               libsecret-1-dev,
               libsm-dev,
               libspectre-dev,
               libsynctex-dev,
               libtiff-dev,
               libwebkit2ctk-4.0-dev,
               libx11-dev,
               libxml2-dev,
               libxml2-utils,
               lsb-release,
               cafe-common (>= 1.24.0-1~),
               xsltproc,
               yelp-tools,
               zlib1g-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/lector
Vcs-Git: https://salsa.debian.org/debian-cafe-team/lector.git

Package: lector
Architecture: any
Depends: lector-common (>= ${source:Version}),
         liblectordocument3 (= ${binary:Version}),
         liblectorview3 (= ${binary:Version}),
         shared-mime-info,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: default-dbus-session-bus | dbus-session-bus,
            gvfs,
Provides: djvu-viewer,
          pdf-viewer,
          postscript-viewer,
Suggests: caja,
          poppler-data,
          unrar,
Breaks: liblectordocument3 (<< 1.13.0),
Replaces: liblectordocument3 (<< 1.13.0),
Description: CAFE document viewer
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.

Package: lector-common
Architecture: all
Depends: ${misc:Depends},
Breaks: lector (<= 1.0.3-3),
Description: CAFE document viewer (common files)
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains the architecture independent files.

Package: liblectorview3
Section: libs
Architecture: any
Depends: liblectordocument3 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Replaces: liblector (<< 1.9.0),
Description: CAFE document viewing library
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains the document viewing library used by Lector.

Package: liblectorview-dev
Section: libdevel
Architecture: any
Depends: liblectorview3 (= ${binary:Version}),
         gir1.2-lectorview-1.5.0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: liblector-dev (<< 1.9.0),
Description: CAFE document viewing library (development files)
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains the development files for the liblectorview
 library.

Package: liblectordocument3
Section: libs
Architecture: any
Depends: libjs-mathjax,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: liblector (<< 1.9.0),
Replaces: liblector (<< 1.9.0),
Description: CAFE document rendering library
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains the document rendering library used by Lector.

Package: liblectordocument-dev
Section: libdevel
Architecture: any
Depends: liblectordocument3 (= ${binary:Version}),
         gir1.2-lectordocument-1.5.0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: liblector-dev (<< 1.9.0),
        gir1.2-lector (<< 1.18.3-2~),
Replaces: liblector-dev (<< 1.9.0),
          gir1.2-lector (<< 1.18.3-2~),
Description: CAFE document rendering library (development files)
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains the development files for the liblectordocument
 library.

Package: gir1.2-lectordocument-1.5.0
Section: introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: gir1.2-lector (<< 1.18.3-2~),
Replaces: gir1.2-lector (<< 1.18.3-2~),
Description: GObject introspection data for liblectordocument
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains introspection data for liblectordocument.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: gir1.2-lectorview-1.5.0
Section: introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: gir1.2-lector (<< 1.18.3-2~),
Replaces: gir1.2-lector (<< 1.18.3-2~),
Description: GObject introspection data for liblectorview
 Lector is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 .
 This package contains introspection data for liblectorview.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: gir1.2-lector
Section: oldlibs
Architecture: any
Depends: ${misc:Depends},
         gir1.2-lectordocument-1.5.0 (= ${binary:Version}),
         gir1.2-lectorview-1.5.0 (= ${binary:Version}),
Description: GObject introspection data for liblector* (transitional package)
 This package is a transitional package to gir1.2-lectordocument-1.5.0 and
 gir1.2-lectorview-1.5.0. This package can be safely removed.
