#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --without autoreconf

execute_before_dh_install:
	rm -rfv debian/tmp/usr/lib/*/*.la
	rm -rfv debian/tmp/usr/lib/*/baul/extensions-2.0/*.la
	rm -rfv debian/tmp/usr/lib/*/lector/3/backends/*.la

override_dh_auto_test:
	DEB_BUILD_OPTIONS=nocheck dh_auto_test

override_dh_auto_configure:
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure -- \
		--enable-comics \
		--enable-gtk-doc \
		--enable-djvu \
		--enable-dvi \
		--enable-introspection \
		--enable-pixbuf \
		--enable-t1lib \
		--disable-static
