Source: libcafemixer
Section: libs
Priority: optional
Maintainer: Debian+Ubuntu CAFE Packaging Team <debian-cafe@lists.debian.org>
Uploaders: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Mike Gabriel <sunweaver@debian.org>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
           Martin Wimpress <code@flexion.org>,
Build-Depends: autoconf-archive,
               debhelper-compat (= 13),
               dpkg-dev (>= 1.16.1.1),
               libasound2-dev,
               libglib2.0-dev,
               libpulse-dev,
               cafe-common (>= 1.18),
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/libcafemixer
Vcs-Git: https://salsa.debian.org/debian-cafe-team/libcafemixer.git

Package: libcafemixer0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: iso-codes,
         libcafemixer-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Mixer library for CAFE Desktop
 Mixer library for CAFE Desktop. It provides an abstract API allowing
 access to mixer functionality available in the PulseAudio, ALSA and OSS
 sound systems.
 .
 This package contains the shared libraries.

Package: libcafemixer-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Mixer library for CAFE Desktop (common files)
 Mixer library for CAFE Desktop. It provides an abstract API allowing
 access to mixer functionality available in the PulseAudio, ALSA and OSS
 sound systems.
 .
 This package contains the architecture-independent files.

Package: libcafemixer-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Description: Mixer library for CAFE Desktop (documentation files)
 Mixer library for CAFE Desktop. It provides an abstract API allowing
 access to mixer functionality available in the PulseAudio, ALSA and OSS
 sound systems.
 .
 This package contains the documentation files.

Package: libcafemixer-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libglib2.0-dev,
         libcafemixer0 (= ${binary:Version}),
         ${misc:Depends},
Description: Mixer library for CAFE Desktop (development files)
 Mixer library for CAFE Desktop. It provides an abstract API allowing
 access to mixer functionality available in the PulseAudio, ALSA and OSS
 sound systems.
 .
 This package contains the development files.
