Source: cafe-desktop
Section: x11
Priority: optional
Maintainer: Debian+Ubuntu CAFE Packaging Team <debian-cafe@lists.debian.org>
Uploaders: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Mike Gabriel <sunweaver@debian.org>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
           Martin Wimpress <code@flexion.org>,
Build-Depends: autoconf-archive,
               debhelper-compat (= 13),
               dpkg-dev (>= 1.16.1.1),
               gobject-introspection,
               ctk-doc-tools,
               intltool,
               iso-codes,
               libdconf-dev (>= 0.13.4),
               libgdk-pixbuf-2.0-dev (>= 2.36.5),
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.50.0),
               libglib2.0-doc,
               libctk-3-dev (>= 3.22.0),
               libctk-3-doc,
               librsvg2-bin,
               libstartup-notification0-dev,
               libx11-dev,
               libxml2-dev,
               libxrandr-dev (>= 1.3),
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-desktop
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-desktop.git

Package: cafe-desktop
Architecture: any
Multi-Arch: foreign
Depends: hicolor-icon-theme,
         libcafe-desktop-2-17,
         cafe-desktop-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: cafe-user-guide,
Breaks: cafe-desktop-gnome,
Replaces: cafe-desktop-gnome,
Suggests: cafe-desktop-environment,
Description: Library with common API for various CAFE modules
 The CAFE component cafe-desktop contains the libcafe-desktop library, the
 cafe-about program, as well as some desktop-wide documents.
 .
 The libcafe-desktop library provides an API shared by several applications
 on the desktop, but that cannot live in the platform for various
 reasons.
 .
 The cafe-about program helps with finding which version of CAFE is installed.
 .
 NOTE: This package does not install the complete CAFE desktop environment
 for you. The full desktop environment can be installed via the metapackage
 cafe-desktop-environment.

Package: cafe-desktop-common
Architecture: all
Depends: ${misc:Depends},
Breaks: cafe-desktop (<< 1.1.1-1),
Replaces: cafe-desktop (<< 1.1.1-1),
Description: Library with common API for various CAFE modules (common files)
 The CAFE component cafe-desktop contains the libcafe-desktop library, the
 cafe-about program, as well as some desktop-wide documents.
 .
 The libcafe-desktop library provides an API shared by several applications
 on the desktop, but that cannot live in the platform for various
 reasons.
 .
 This package contains the architecture-independent files.

Package: libcafe-desktop-2-17
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: iso-codes,
         ${misc:Depends},
         ${shlibs:Depends},
Provides: libcafedesktop,
Breaks: libcafedesktop (<< 1.6.1),
Replaces: libcafedesktop (<< 1.6.1),
Description: Library with common API for various CAFE modules (library)
 The CAFE component cafe-desktop contains the libcafe-desktop library, the
 cafe-about program, as well as some desktop-wide documents.
 .
 The libcafe-desktop library provides an API shared by several applications
 on the desktop, but that cannot live in the platform for various
 reasons.
 .
 The package contains the actual cafe-desktop library.

Package: libcafe-desktop-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libdconf-dev,
         libgdk-pixbuf2.0-dev,
         libctk-3-dev,
         libcafe-desktop-2-17 (= ${binary:Version}),
         libstartup-notification0-dev,
         gir1.2-cafedesktop-2.0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: libcafedesktop-dev,
        gir1.2-cafe-desktop (<< 1.18.0-2~),
Replaces: libcafedesktop-dev,
          gir1.2-cafe-desktop (<< 1.18.0-2~),
Description: Library with common API for various CAFE modules (development files)
 The CAFE component cafe-desktop contains the libcafe-desktop library, the
 cafe-about program, as well as some desktop-wide documents.
 .
 The libcafe-desktop library provides an API shared by several applications
 on the desktop, but that cannot live in the platform for various
 reasons.
 .
 This package contains the cafe-desktop development files.

Package: libcafe-desktop-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Breaks: libcafedesktop-doc,
Replaces: libcafedesktop-doc,
Description: Library with common API for various CAFE modules (documentation files)
 The CAFE component cafe-desktop contains the libcafe-desktop library, the
 cafe-about program, as well as some desktop-wide documents.
 .
 The libcafe-desktop library provides an API shared by several applications
 on the desktop, but that cannot live in the platform for various
 reasons.
 .
 This package contains the documentation files.

Package: gir1.2-cafedesktop-2.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: libcafe-desktop-2-17 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: gir1.2-cafe-desktop (<< 1.18.0-2~),
Replaces: gir1.2-cafe-desktop (<< 1.18.0-2~),
Description: GObject introspection data for the libcafe-desktop library
 The CAFE component cafe-desktop contains the libcafe-desktop library, the
 cafe-about program, as well as some desktop-wide documents.
 .
 The libcafe-desktop library provides an API shared by several applications
 on the desktop, but that cannot live in the platform for various
 reasons.
 .
 This package contains introspection data for the library.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: gir1.2-cafe-desktop
Section: oldlibs
Architecture: any
Depends: ${misc:Depends},
         gir1.2-cafedesktop-2.0 (= ${binary:Version}),
Description: GObject introspection data for libcafe-desktop (transitional package)
 This package is a transitional package to gir1.2-cafedesktop-2.0. The package
 can be safely removed.
