#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
                --libexecdir=/usr/lib/cafe-applets \
                --disable-static

execute_after_dh_auto_install:
	# applets have been moved to <PREFIX>/lib/cafe-applets/ (and renamed) since 1.24.0
	rm -fv  debian/*/usr/share/man/man1/cafe-charpick-applet.1*
	rm -fv  debian/*/usr/share/man/man1/cafe-drivemount-applet.1*
	rm -fv  debian/*/usr/share/man/man1/cafe-geyes-applet.1*
	rm -fv  debian/*/usr/share/man/man1/cafe-multiload-applet.1*
	rm -fv  debian/*/usr/share/man/man1/cafeweather.1*
