Source: cafe-polkit
Section: x11
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Uploaders: Pablo Barciela <scow@riseup.net>
Build-Depends: autoconf-archive,
               cdbs,
               debhelper (>= 10.3~),
               dpkg-dev (>= 1.16.1.1),
               libayatana-appindicator3-dev,
               libctk-3-dev (>= 3.14),
               libpolkit-agent-1-dev,
               libpolkit-gobject-1-dev,
               cafe-common (>= 1.18),
               pkg-config,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-polkit
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-polkit.git

Package: cafe-polkit-bin
Architecture: all
Depends: cafe-polkit (>= ${source:Version}),
         ${misc:Depends},
Breaks: cafe-polkit (<< 1.12.0-3~),
Description: CAFE authentication agent for PolicyKit-1 (executable wrapper script)
 The cafe-polkit package provides a D-Bus session bus service that is used to
 bring up authentication dialogs used for obtaining privileges.
 .
 This package contains an executable wrapper script for the CAFE policy kit
 authentication agent.
 .
 This package eases using cafe-polkit as PolicyKit-1 authentication agent on
 non-CAFE desktop environments that don't auto-launch their own authentication
 agent (e.g., i3, awesome, ratpoison and alike).

Package: cafe-polkit
Architecture: any
Multi-Arch: same
Depends: accountsservice,
         cafe-polkit-common (= ${binary:Version}),
         polkitd,
         ${misc:Depends},
         ${shlibs:Depends},
Provides: polkit-1-auth-agent,
Description: CAFE authentication agent for PolicyKit-1
 The cafe-polkit package provides a D-Bus session bus service that is used to
 bring up authentication dialogs used for obtaining privileges.
 .
 This package contains the CAFE policy kit authentication agent.

Package: cafe-polkit-common
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
Breaks: cafe-polkit (<< 1.8.0),
Description: CAFE authentication agent for PolicyKit-1 (common files)
 The cafe-polkit package provides a D-Bus session bus service that is used to
 bring up authentication dialogs used for obtaining privileges.
 .
 This package contains common files for the CAFE policy kit authentication
 agent.
