Source: cafe-backgrounds
Section: x11
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Build-Depends: debhelper-compat (= 13),
               libglib2.0-dev,
               cafe-common (>= 1.18),
Build-Depends-Indep: intltool,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/cafe-desktop/cafe-backgrounds
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-backgrounds
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-backgrounds.git

Package: cafe-backgrounds
Architecture: all
Depends: ${misc:Depends},
Description: Set of backgrounds packaged with the CAFE Desktop Environment
 This package provides a collection of desktop wallpapers created with CAFE
 users in mind.
 .
 The package ships the default CAFE backgrounds from various Linux
 distributions as well as a set of nature photographs suitable as comforting
 desktop backgrounds.
