Source: eoc
Section: graphics
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/eoc
Vcs-Git: https://salsa.debian.org/debian-cafe-team/eoc.git
Build-Depends: autoconf-archive,
               debhelper-compat (= 13),
               dpkg-dev (>= 1.16.1.1),
               gobject-introspection,
               gtk-doc-tools,
               intltool,
               libdconf-dev,
               libexempi-dev,
               libexif-dev,
               libgirepository1.0-dev,
               libglib2.0-dev,
               libctk-3-dev,
               libjpeg-dev,
               liblcms2-dev,
               libcafe-desktop-dev (>= 1.18),
               libbean-dev,
               librsvg2-dev (>= 2.36.2),
               libstartup-notification0-dev,
               libxml2-dev,
               cafe-common (>= 1.18),
               shared-mime-info,
               x11proto-core-dev,
               yelp-tools,
               zlib1g-dev,
Build-Depends-Indep: libglib2.0-doc,
                     libctk-3-doc,

Package: eoc
Architecture: any
Depends: eoc-common (= ${source:Version}),
         gir1.2-eoc-2.0,
         librsvg2-common (>= 2.36.2),
         cafe-desktop-common,
         shared-mime-info,
         libgl1-mesa-glx | libgl1,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: cafe-image-viewer (<= 1.0.0-1),
Replaces: cafe-image-viewer (<= 1.0.0-1),
Description: Eye of CAFE graphics viewer program
 eoc or the Eye of CAFE is a simple graphics viewer for the CAFE
 desktop which uses the gdk-pixbuf library. It can deal with large
 images, and zoom and scroll with constant memory usage. Its goals are
 simplicity and standards compliance.

Package: eoc-common
Architecture: all
Depends: ${misc:Depends},
Breaks: eoc (<= 1.6.1-1),
        cafe-image-viewer (<= 1.0.0-1),
Replaces: cafe-image-viewer (<= 1.0.0-1),
Description: Eye of CAFE graphics viewer program (common files)
 eoc or the Eye of CAFE is a simple graphics viewer for the CAFE
 desktop which uses the gdk-pixbuf library. It can deal with large
 images, and zoom and scroll with constant memory usage. Its goals are
 simplicity and standards compliance.
 .
 This package contains the architecture independent files.

Package: eoc-dev
Section: libdevel
Architecture: any
Depends: eoc (= ${binary:Version}),
         ${misc:Depends},
         gir1.2-eoc-2.0 (= ${binary:Version}),
Breaks: cafe-image-viewer (<= 1.0.0-1),
        gir1.2-eoc (<< 1.18.3-2~),
Replaces: cafe-image-viewer (<= 1.0.0-1),
          gir1.2-eoc (<< 1.18.3-2~),
Description: Eye of CAFE graphics viewer program (development files)
 eoc or the Eye of CAFE is a simple graphics viewer for the CAFE
 desktop which uses the gdk-pixbuf library. It can deal with large
 images, and zoom and scroll with constant memory usage. Its goals are
 simplicity and standards compliance.
 .
 This package contains the development files for building eoc plugins.

Package: gir1.2-eoc-2.0
Section: introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
Replaces: gir1.2-eoc-1.0,
Description: GObject introspection data for the eoc library
 eoc or the Eye of CAFE is a simple graphics viewer for the CAFE
 desktop which uses the gdk-pixbuf library.  It can deal with large
 images, and zoom and scroll with constant memory usage.  Its goals are
 simplicity and standards compliance.
 .
 This package contains introspection data for eoc.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: gir1.2-eoc
Section: oldlibs
Architecture: any
Depends: ${misc:Depends},
         gir1.2-eoc-2.0 (= ${binary:Version}),
Description: GObject introspection data for eoc (transitional package)
 This package is a transitional package to gir1.2-eoc-2.0. The package
 can be safely removed.
