Source: cafe-settings-daemon
Section: x11
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Uploaders: Pablo Barciela <scow@riseup.net>
Build-Depends: debhelper (>= 10.3~),
               dh-exec,
               dpkg-dev (>= 1.16.1.1),
               intltool,
               libkanberra-ctk3-dev,
               libdbus-glib-1-dev,
               libdconf-dev,
               libfontconfig1-dev,
               libglib2.0-dev (>= 2.67.3),
               libctk-3-dev,
               libcafe-desktop-dev (>= 1.24),
               libcafekbd-dev (>= 1.24),
               libcafemixer-dev (>= 1.24),
               libnotify-dev,
               libnss3-dev,
               libpolkit-agent-1-dev,
               libpolkit-gobject-1-dev,
               libpulse-dev,
               librda-dev (>= 0.0.3),
               libstartup-notification0-dev,
               libx11-dev,
               libxext-dev,
               libxi-dev,
               libxklavier-dev,
               libxrandr-dev,
               libxt-dev,
               cafe-common (>= 1.18),
               x11proto-kb-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-settings-daemon
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-settings-daemon.git

Package: cafe-settings-daemon
Architecture: any
Depends: cafe-desktop-common (>= 1.24),
         cafe-polkit,
         cafe-settings-daemon-common (= ${source:Version}),
         x11-xserver-utils,
         ${misc:Depends},
         ${shlibs:Depends},
Replaces: cafe-settings-daemon-gstreamer (<< 1.9.0),
          cafe-settings-daemon-pulse (<< 1.9.0),
Breaks: cafe-settings-daemon-gstreamer (<< 1.9.0),
        cafe-settings-daemon-pulse (<< 1.9.0),
Description: daemon handling the CAFE session settings
 This package contains the daemon which is responsible for setting the
 various parameters of a CAFE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, CTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.

Package: cafe-settings-daemon-common
Architecture: all
Depends: ${misc:Depends},
Replaces: cafe-settings-daemon-gstreamer (<< 1.9.0),
          cafe-settings-daemon-pulse (<< 1.9.0),
          cafe-desktop-common (<< 1.24.0-1~),
Breaks: cafe-settings-daemon-gstreamer (<< 1.9.0),
        cafe-settings-daemon-pulse (<< 1.9.0),
        cafe-desktop-common (<< 1.24.0-1~),
Description: daemon handling the CAFE session settings (common files)
 This package contains the daemon which is responsible for setting the
 various parameters of a CAFE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, CTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.
 .
 This package contains the architecture independent files.

Package: cafe-settings-daemon-dev
Section: devel
Architecture: any
Depends: cafe-settings-daemon (= ${binary:Version}),
         libdbus-glib-1-dev,
         libglib2.0-dev (>= 2.67.3),
         libdbus-1-dev,
         ${misc:Depends},
Replaces: cafe-settings-daemon-gstreamer (<< 1.9.0),
          cafe-settings-daemon-pulse (<< 1.9.0),
Breaks: cafe-settings-daemon-gstreamer (<< 1.9.0),
        cafe-settings-daemon-pulse (<< 1.9.0),
Description: daemon handling the CAFE session settings (development files)
 This package contains the daemon which is responsible for setting the
 various parameters of a CAFE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, CTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.
 .
 This package contains the development files for building
 cafe-settings-daemon plugins.
