Tests: build
Restrictions: superficial
Depends: build-essential, libcdk-pixbuf-2.0-dev, pkg-config

Tests: installed-tests
Depends: cdk-pixbuf-tests, gnome-desktop-testing

Tests: installed-tests-flaky
Depends: cdk-pixbuf-tests, gnome-desktop-testing
Restrictions: flaky
