Source: cafe-themes
Section: x11
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Uploaders: Pablo Barciela <scow@riseup.net>
Standards-Version: 4.5.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (=12),
Build-Depends-Indep: cafe-common,
                     icon-naming-utils,
                     intltool,
                     libgtk2.0-dev,
                     libxml-parser-perl,
                     pkgconf,
Homepage: http://www.cafe-desktop.org/
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-themes
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-themes.git

Package: cafe-themes
Architecture: all
Depends: gtk2-engines,
         gtk2-engines-murrine,
         gtk2-engines-pixbuf,
         librsvg2-common,
         cafe-icon-theme,
         ${misc:Depends},
Conflicts: cafe-themes-gnome,
Description: Official themes for the CAFE desktop
 This package contains the official desktop themes of the CAFE desktop
 environment.
 .
 The themes provided for the CAFE desktop partially resemble themes that
 are well known from GNOMEv2 desktops. However, the CAFE team also prepared
 some new themes esp. for CAFE (Menta, GreenLaguna, TraditionalGreen,
 TraditionalOk, and BlackMate).
