Source: libcafekbd
Section: libs
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Build-Depends: autoconf-archive,
               debhelper-compat (= 13),
               dh-sequence-gir,
               dpkg-dev (>= 1.16.1.1),
               gir1.2-gobject-2.0-dev,
               gir1.2-ctk-3.0-dev,
               gir1.2-xkl-1.0-dev,
               gir1.2-xlib-2.0-dev,
               intltool,
               libglib2.0-dev,
               libctk-3-dev,
               libxklavier-dev,
               libxml2-utils,
               cafe-common (>= 1.18),
Standards-Version: 4.5.0
Homepage: https://github.com/cafe-desktop/libcafekbd
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/libcafekbd
Vcs-Git: https://salsa.debian.org/debian-cafe-team/libcafekbd.git

Package: libcafekbd4
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: iso-codes,
         libcafekbd-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Provides: libcafekbd,
Replaces: libcafekbd,
Breaks: libcafekbd,
Conflicts: libcafekbd,
Description: CAFE library to manage keyboard configuration
 libcafekbd offers an API to manage the keyboard in CAFE applications.
 .
 libcafekbdui offers an API to display a graphical user interface for
 libcafekbd operations.
 .
 This package contains the shared libraries.

Package: libcafekbd-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Replaces: libcafekbd4 (<< 1.6.1-1),
Description: CAFE library to manage keyboard configuration (common files)
 libcafekbd offers an API to manage the keyboard in CAFE applications.
 .
 libcafekbdui offers an API to display a graphical user interface for
 libcafekbd operations.
 .
 This package contains the architecture-independent files.

Package: libcafekbd-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libglib2.0-dev,
         libctk-3-dev,
         libcafekbd4 (= ${binary:Version}),
         libx11-dev,
         libxklavier-dev,
         ${gir:Depends},
         ${misc:Depends},
Provides: ${gir:Provides}
Breaks: gir1.2-cafekbd (<< 1.18.2-2~)
Replaces: gir1.2-cafekbd (<< 1.18.2-2~)
Description: CAFE library to manage keyboard configuration (development files)
 libcafekbd offers an API to manage the keyboard in CAFE applications.
 .
 libcafekbdui offers an API to display a graphical user interface for
 libcafekbd operations.
 .
 This package contains the development files.

Package: gir1.2-cafekbd-2.0
Multi-Arch: same
Section: introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
Replaces: gir1.2-cafekbd-1.0,
Description: GObject introspection data for libcafekbd and libcafekbdui
 libcafekbd offers an API to manage the keyboard in CAFE applications.
 .
 libcafekbdui offers an API to display a graphical user interface for
 libcafekbd operations.
 .
 This package contains introspection data for the libcafekbd and the
 libcafekbdui libraries.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.
