Source: cafe-menus
Section: libs
Priority: optional
Maintainer: Pablo Barciela <scow@riseup.net>
Build-Depends: autoconf-archive,
               debhelper-compat (= 13),
               dh-sequence-gir,
               dpkg-dev (>= 1.16.1.1),
               gobject-introspection,
               gir1.2-gio-2.0-dev,
               gir1.2-giounix-2.0-dev,
               intltool,
               libglib2.0-dev,
               cafe-common (>= 1.18),
Standards-Version: 4.5.0
Homepage: https://github.com/cafe-desktop/cafe-menus
Vcs-Browser: https://salsa.debian.org/debian-cafe-team/cafe-menus
Vcs-Git: https://salsa.debian.org/debian-cafe-team/cafe-menus.git

Package: cafe-menus
Architecture: all
Depends: gir1.2-cafemenu-2.0 (>= ${source:Version}),
         ${misc:Depends},
Breaks: cafe-control-center (<< 1.13.0),
Description: implementation of the freedesktop menu specification for CAFE
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 Also contained here are the CAFE menu layout configuration files, .directory
 files and assorted menu related utility programs.

Package: libcafe-menu2
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Breaks: libcafemenu,
        cafe-menus (<= 1.0.2-1),
        libcafe-slab0 (<< 1.22.0),
        cafe-panel (<< 1.22.0),
        cafe-screensaver (<< 1.22.0),
        python-cafe-menu (<< 1.22.0),
Replaces: libcafemenu,
          cafe-menus (<= 1.0.2-1),
          python-cafe-menu (<< 1.22.0),
Description: implementation of the freedesktop menu specification for CAFE (library)
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 This package contains the actual library files.

Package: libcafe-menu-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libglib2.0-dev,
         libcafe-menu2 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends},
Provides: ${gir:Provides},
Breaks: libcafemenu-dev,
        gir1.2-cafe-menu (<< 1.18.1-2~),
Replaces: libcafemenu-dev,
          gir1.2-cafe-menu (<< 1.18.1-2~),
Description: implementation of the freedesktop menu specs for CAFE (development files)
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 This package contains the development files.

Package: gir1.2-cafemenu-2.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${gir:Depends},
         ${misc:Depends},
Breaks: gir1.2-cafe-menu (<< 1.18.1-2~),
Replaces: gir1.2-cafe-menu (<< 1.18.1-2~),
Description: GObject introspection data for the CAFE menu specification
 This package contains introspection data for CAFE menu specification,
 an implementation of the draft "Desktop Menu Specification" from
 freedesktop.org.
 .
 It can be used by packages using the GIRepository format to generate dynamic
 bindings.
